# Module: `{{ module_name }}`

{% if module_docstring %}
## Module Overview

{{ module_docstring }}
{% endif %}

{% if summary %}
## 📝 Recent Changes

{{ summary }}
{% endif %}

---

{% if structure.classes %}
## Classes

{% for class in structure.classes %}
### Class: `{{ class.name }}`

{% if class.bases %}
**Inherits from:** `{{ class.bases | join(', ') }}`
{% endif %}

{% if class.decorators %}
**Decorators:** `{{ class.decorators | join(', ') }}`
{% endif %}

**Docstring:**
{% if class.docstring %}
```
{{ class.docstring }}
```
{% else %}
```
No docstring provided.
```
{% endif %}

{% if class.methods %}
#### Methods

{% for method in class.methods %}
##### `{{ method.name }}({{ method.args | join(', ') }})`

{% if method.decorators %}
**Decorators:** `{{ method.decorators | join(', ') }}`
{% endif %}

**Docstring:**
{% if method.docstring %}
```
{{ method.docstring }}
```
{% else %}
```
No docstring provided.
```
{% endif %}

**Defined at line:** {{ method.lineno }}

---
{% endfor %}
{% endif %}

**Defined at line:** {{ class.lineno }}

---

{% endfor %}
{% endif %}

{% if structure.functions %}
## Functions

{% for func in structure.functions %}
### Function: `{{ func.name }}({{ func.args | join(', ') }})`

{% if func.decorators %}
**Decorators:** `{{ func.decorators | join(', ') }}`
{% endif %}

**Docstring:**
{% if func.docstring %}
```
{{ func.docstring }}
```
{% else %}
```
No docstring provided.
```
{% endif %}

**Defined at line:** {{ func.lineno }}

---
{% endfor %}
{% endif %}

{% if not structure.classes and not structure.functions %}
## Empty Module

This module does not contain any classes or functions.
{% endif %}

---

*Documentation generated by [InferDoc](https://github.com/Om7035/InferDoc)*
